<ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button slot="end" size="small" fill="clear">
            <ion-icon name="locate"></ion-icon>
            Bhavnagar
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
      <img src="assets/imgs/chat.jpg">
      <ion-label class="bold_lbl">Medical Consultation</ion-label>
      <ion-label class="small_lbl">Chat with top Doctors without disruption your daily life. Get an except opinion at the comfort of your home.</ion-label>

      <div class="abs_div">
          <ion-button expand="block" shape="round" (click)="goToChatDetail()">
              Start a new chat
          </ion-button>
      </div>
      
  </div>
</ion-content>
