<ion-tabs>

    <ion-tab-bar slot="bottom">
      
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="documents">
            <ion-icon name="document-text"></ion-icon>
        </ion-tab-button>

        <!-- <ion-tab-button tab="chat">
            <ion-icon name="chatbox-ellipses"></ion-icon>
        </ion-tab-button> -->

        <ion-tab-button tab="my-orders">
            <ion-icon name="notifications"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
