<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu (ionWillOpen)="onmenuopen()"  contentId="main-content" type="overlay">
            <ion-content>
                <div class="header_section">
                    <div class="user_image">
                        <ion-icon name="person"></ion-icon>
                    </div>
                    <div class="user_detail">
                        <ion-label *ngIf="nombre.length > 0" class="name_lbl">{{nombre}}, {{apellido}}</ion-label>
                        <ion-label class="loc_lbl">Bienvenido</ion-label>
                    </div>
                </div>

                <ion-list id="inbox-list" class="ion-no-padding">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                            detail="false">
                            <ion-label>{{p.title}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" (click)="logout()"> 
                        <ion-item routerDirection="root" lines="none" detail="false">
                            <ion-label> Logout </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <!-- <div class="logo_flex">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div> -->

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
    <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
