ion-toolbar {
    --background: linear-gradient(to bottom, #28AD9C, #18655D);

    .flex_header {
        display: flex;
        justify-content: space-between;

        ion-button{
            margin: 0;
            --background: transparent;
            font-family: 'semi-bold';
    
            ion-icon {
                margin-right: 5px;
            }
        }
    }    

    .custom_header {
        width: 100%;
        // height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;

        .round_div4 {
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);
            height: 180px;
            min-width: 180px;
            border-radius: 100%;
            position: relative;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%,-50%); 
        }

        .round_div3 {
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);
            height: 160px;
            width: 160px;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%); 
        }

        .round_div2 {
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);
            height: 140px;
            width: 140px;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .round_div1 {
            border: 2px solid rgba($color: #ffffff, $alpha: 0.2);
            height: 120px;
            width: 120px;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    
        .user_round {
            height: 100px;
            width: 100px;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .call_detail {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            position: absolute;

            .round_call {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 2.5px solid white;
                position: relative;

                ion-icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: white;
                }
            }
        }

        .doc_detail {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            bottom: 5px;

            ion-label {
                color: white;
                font-family: 'medium';
                font-size: 14px;
            }
        }

        .name_lbl {
            font-size: 20px;
            color: white;
            position: absolute;
            top: 50px;
            font-family: 'medium';
        }
        .spec_lbl {
            font-size: 14px;
            color: white;
            position: absolute;
            bottom: 50px;
            font-family: 'semi-bold';
        }
    }
}
.main_content_div {
    ion-segment {
        ion-segment-button {
            ion-label {
                text-transform: capitalize;
                font-family: 'medium';
            }
        }
    }

    .content_div {

        .doctor_div {
            padding: 16px;

            .bold_lbl {
                font-family: 'semi-bold';
            }
            ul {
                padding-left: 16px;
                li {
                    font-size: 14px;
                    color: grey;
                }
            }
            .service_lbl {
                font-family: 'semi-bold';
                color: var(--ion-color-primary);
                font-size: 14px;
                padding-left: 16px;
            }
        }

        .clinic_div {
            .call_info {
                padding: 16px;

                .contact_lbl {
                    font-family: 'semi-bold';
                    text-align: center;
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                .addr_lbl {
                    color: grey;
                    font-size: 14px;
                    text-align: center;
                }
            }
            .map_div {
                width: 100%;
                height: 200px;
                background: lightgrey;

                #map{
                    width: 100%;
                    height: 200px;
                }
            }

            .clinic_gallery {
                padding: 16px;

                .image_div {
                    width: 100px;
                    height: 100px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }

        .feedback_div {
            padding: 20px;
            .inner_feedback_div {
                border-bottom: 1px solid lightgrey;
                padding: 16px 0px;

                .gray_lbl {
                    font-size: 12px;
                    color: lightgrey;
                    margin-bottom: 3px;
                }
                .name_lbl {
                    font-family: 'semi-bold';
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                .feedback_lbl {
                    color: grey;
                    font-size: 14px;
                }
            }
        }

        .btn_div {
            position: fixed;
            width: 100%;
            bottom: 10px;
            padding: 20px;
        }
        

    }
}