<ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="padding: 0px;">Notificaciones</ion-title>
        <!-- <ion-button slot="end" size="small" fill="clear">
            <ion-icon name="locate"></ion-icon>
            Bhavnagar
        </ion-button> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <!-- <ion-segment value="All" (ionChange)="segmentChanged($event)" mode="md">
            <ion-segment-button value="All">
              <ion-label>Todas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Upcoming">
              <ion-label>Upcoming</ion-label>
            </ion-segment-button>
        </ion-segment> -->

        <div class="content_div">
            <!-- <div class="app_div" *ngFor="let item of [1,2,3]"> -->
            <div class="app_div">
                <ion-icon name="notifications" class="bell_icn"></ion-icon>
                <div class="noti_div">
                    <ion-label class="title_lbl">15 Feb, 11:00 am</ion-label>
                    <ion-label class="light_lbl">
                        Accidente sobre la avenida constanera
                    </ion-label>
                </div>
                <ion-icon name="checkmark-circle" class="check_icn"></ion-icon>
            </div>
            <!-- <div class="app_div" *ngFor="let item of [1,2,3]"> -->
            <div class="app_div">
                <ion-icon name="notifications" class="bell_icn"></ion-icon>
                <div class="noti_div">
                    <ion-label class="title_lbl">18 Feb, 02:30 pm</ion-label>
                    <ion-label class="light_lbl">
                        Incendio de casa zona terminal
                    </ion-label>
                </div>
                <ion-icon name="checkmark-circle" class="check_icn"></ion-icon>
            </div>
            <!-- <div class="app_div" *ngFor="let item of [1,2,3]"> -->
            <div class="app_div">
                <ion-icon name="notifications" class="bell_icn"></ion-icon>
                <div class="noti_div">
                    <ion-label class="title_lbl">19 Abr, 08:00 am</ion-label>
                    <ion-label class="light_lbl">
                        Accidente Avda. Mariscal lopez y Gral Santos
                    </ion-label>
                </div>
                <ion-icon name="checkmark-circle" class="check_icn"></ion-icon>
            </div>

            <!-- <ion-label class="head_lbl">Enero</ion-label>

            <div class="app_div" *ngFor="let item of [1,2]">
                <ion-icon name="notifications" class="bell_icn"></ion-icon>
                <div class="noti_div">
                    <ion-label class="title_lbl">4th Feb, at 11:00 am</ion-label>
                    <ion-label class="light_lbl">
                        Upcoming appt for fever with Dr. Jonh Doe
                    </ion-label>
                </div>
                <ion-icon name="checkmark-circle" class="check_icn"></ion-icon>
            </div> -->

        </div>

    </div>
</ion-content>
