<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-button (click)="goBack()" fill="clear" size="small" slot="start">
        <ion-icon name="chevron-back" style="font-size: 24px;"></ion-icon>
    </ion-button>
      <ion-title style="padding: 0px;">Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

      <div class="stepper_div">
          <div class="round_div" [class.completed]=" tabID >=1 " ></div>
          <div class="line_div"></div>
          <div class="round_div" [class.completed]=" tabID >=2 "></div>
          <div class="line_div"></div>
          <div class="round_div" [class.completed]=" tabID >=3 "></div>
      </div>
      <!-- <div>
          <ion-label>SHIPPING</ion-label>
          <ion-label>PAYMENT</ion-label>
          <ion-label>CONFORMATION</ion-label>
      </div> -->

      <div *ngIf="tabID == 1">

          <div class="card_div">
              <div class="upper_div">
                  <ion-label class="green_lbl">Delivery Address</ion-label>
                  <ion-label class="username_lbl">Jonh Doe</ion-label>
                  <ion-label class="addr_lbl">1234, Eva surbhi complex, Aksharwadi Road, Bhavnagar - 364001</ion-label>
              </div>
              <div class="lower_div">
                  <div style="border-right: 1px solid lightgrey;" (click)="goToAddAddress('edit')">
                      <ion-label>Edit Address</ion-label>
                  </div>
                  <div (click)="goToAddAddress('add')">
                      <ion-label>Add Address</ion-label>
                  </div>
              </div>
          </div>

          <ion-label class="price_lbl" style="color: var(--ion-color-app-font);">2 Items<span style="color: var(--ion-color-primary);font-size: 14px;">View Detail</span></ion-label>
          <ion-label class="price_lbl">Subtotal<span>₹120.00</span></ion-label>
          <ion-label class="price_lbl">Shipping<span>₹40.00</span></ion-label>

          <div class="flex_price">
              <ion-label>Total</ion-label>
              <ion-label>₹160.00</ion-label>
          </div>
  
          <ion-button expand="block" shape="round" (click)="tabID = 2">
            Proceed to checkout
          </ion-button>
      </div>

      <div *ngIf="tabID == 2">

          <ion-label class="price_btn">₹ 200.00</ion-label>

          <ion-row>
              <ion-col size="9" style="padding: 0">
                  <ion-label class="green_name">CARD NUMBER</ion-label>
                  <ion-input type="text" placeholder="XXXX-XXXX-XXXX-4242"></ion-input>
              </ion-col>
              <ion-col size="3">
                  <div class="card_box">
                      <img src="assets/imgs/visa.png">
                  </div>
              </ion-col>
              <ion-col size="12" style="padding: 0">
                  <ion-label class="green_name">CARDHOLDER NAME</ion-label>
                  <ion-input type="text" placeholder="Your Name"></ion-input>
              </ion-col>
              <ion-col size="6" style="padding-left: 0">
                  <ion-label class="green_name">EXPIRE DATE</ion-label>
                  <ion-datetime display-format="MM/YYYY" placeholder="MM/YYYY"></ion-datetime>
              </ion-col>
              <ion-col size="6" style="padding-right: 0">
                <ion-label class="green_name">CVV</ion-label>
                <ion-input type="text" placeholder="***"></ion-input>
              </ion-col>
          </ion-row>

          <div class="check_flex">
              <ion-checkbox mode="md"></ion-checkbox>
              <ion-label>SAVE CARD</ion-label>
          </div>

          <ion-button expand="block" shape="round" (click)="tabID = 3">
            Pay Securely
          </ion-button>
      </div>

      <div *ngIf="tabID == 3" class="app_detail">

          <div class="card_box">
              <ion-icon name="pencil-sharp"></ion-icon>
              <ion-label class="green_lbl">Shipping To</ion-label>
              <ion-label class="bold_lbl">Jonh Doe</ion-label>
              <ion-label class="simple_lbl">1234, Eva surbhi complex, Aksharwadi Road, Bhavnagar - 364001</ion-label>
          </div>

          <div class="card_box">
              <ion-icon name="pencil-sharp"></ion-icon>
              <ion-label class="green_lbl">Payment Detail</ion-label>
              <ion-label class="bold_lbl">XXXX-XXXX-XXXX-4242</ion-label>
          </div>

          <div class="card_box">
              <ion-icon name="pencil-sharp"></ion-icon>
              <ion-label class="green_lbl">Order</ion-label>
              <ion-label class="bold_lbl">2 Items</ion-label>
              <ion-label class="simple_lbl">1. Crocin Pain Relief</ion-label>
              <ion-label class="simple_lbl">1. Crocin Advance</ion-label>
              <div class="flex_div" style="margin-top: 10px">
                  <ion-label class="bold_lbl">Total</ion-label>
                  <ion-label class="bold_lbl">128.60</ion-label>
              </div>
          </div>

          <div class="card_box">
              <ion-icon name="pencil-sharp"></ion-icon>
              <ion-label class="green_lbl">Delivery</ion-label>
              <div class="flex_div">
                  <ion-label class="simple_lbl">Delivered by</ion-label>
                  <ion-label class="bold_lbl">12 Feb 2019</ion-label>
              </div>
          </div>

          <ion-button expand="block" shape="round" (click)="goToHome()" style="width: 100%;">
                go To Home
          </ion-button>
      </div>

      
  </div>
</ion-content>
