ion-toolbar {
    --background: var(--ion-color-app-light);
 
     ion-title {
         color: var(--ion-color-primary);
         font-family: 'semi-bold' !important;
         font-size: 14px;
     }
}
ion-content {
    --background: #F9F9FC;
}

.main_content_div {
    height: 100%;
    width: 100%;

    #map{
        width: 100%;
        height: 100%;
    }

    .abs_div {
        padding: 40px 16px;
        // position: relative;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // height: 100%;
        // position: absolute;
        // width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 999;
        width: 100%;

        .card_div {
            background: white;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
            padding: 10px;
            margin-bottom: 16px;

            .loc_lbl {
                font-size: 18px;
                font-family: 'medium';
                width: 80%;
                
                span {
                    color: var(--ion-color-primary);
                }
            }

            .flex_div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .km_lbl {
                    font-size: 13px;
                    color: lightgrey;
                    font-family: 'semi-bold';
                }

                .time_lbl {
                    font-size: 13px;
                    font-family: 'semi-bold';

                    span {
                        color: var(--ion-color-primary);
                    }
                }
            }
        }

        ion-button {
            width: 100%;
        }
    }

    .gredient_btn {
        width: 100%;
        margin: 0;
    }
}